@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  font-family: "Noto Sans Thai Looped", sans-serif !important;
  color: white;
}
